@model WebApplication2.Models.Property



@{
    ViewBag.Title = "Create";
}



<style>
    .h3, h3 {
        font-size: 1.75rem;
        color: black;
    }

    .h2, h2 {
        font-size: 2rem;
        text-align: center;
        padding: 20px;
        color: deeppink;
    }

    .col-md-2 {
    }

    .form-group {
        padding: 4px;
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 66.333333%;
        padding-left: 22px;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 20.666667%;
    }

    button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        width: inherit;
    }

    .col-md-offset-2 {
        width: inherit;
        font-size: large;
    }

    .show-image {
        padding: 20px;
        width: 100%;
        height: 500px;
    }

    .features_pos {
        margin-left: 10px;
    }

    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: center;
    }

    .navbar-nav > li > a {
        padding: 4px;
        color: currentcolor;
        padding: 5px;
        padding-right: 15px;
    }

    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 11px;
        letter-spacing: 5px;
        font-family: system-ui;
    }
</style>



<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @Html.ActionLink("HomeFair", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>-->
            <li>@Html.ActionLink("ABOUTUS", "About", "Home")</li>
            <li><a href="/Properties/Details">PROPERTIES</a></li>
            <li><a href="/Contects/create">CONTACTUS</a></li>
            <li><a href="/Agents/create">POSTPROPERTY</a></li>

        </ul>
    </div>
    <div class="login_Show">
        <ul class="navbar-nav ml-auto">
            <li>
                <!--<i class="houzez-icon icon-single-neutral-circle"></i>-->
                <a href="/Logins/Create" class="btn btn-outline-info">ACCOUNT</a>
            </li>

        </ul>
    </div>


</nav>



<h2>Create</h2>


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img src="~/Content/back_property_4.gif" height="550" width="650" />
        </div>
        <div class="col-lg-6 col-md-12">
            @using (Html.BeginForm("Create", "Properties", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>Property</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.PropertyName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PropertyName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PropertyName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="features_pos">
                        <div class="form-group">

                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.City, new SelectList(Enum.GetValues(typeof(WebApplication2.Models.city))), "City", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.Area, new SelectList(Enum.GetValues(typeof(WebApplication2.Models.area))), "Area", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="features_pos">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(WebApplication2.Models.Status))), "Status", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.Purpose, new SelectList(Enum.GetValues(typeof(WebApplication2.Models.purpose))), "Purpose", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="features_pos">
                        <h3>Properties Basic Features</h3>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PropertySize, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.PropertySize, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PropertySize, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.FloorNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.FloorNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FloorNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BedRoom, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.BedRoom, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BedRoom, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.DiningSpace, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.DiningSpace, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DiningSpace, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.LivingRoom_, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.LivingRoom_, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LivingRoom_, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Balconies, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.Balconies, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Balconies, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AttachedBath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.AttachedBath, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AttachedBath, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.CommonBath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.CommonBath, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CommonBath, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PropertyType_Id, "PropertyType_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PropertyType_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PropertyType_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Agent_id, "Agent_id", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Agent_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Agent_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PropertyImage, "PropertyImage", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="ImageFile" required />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstImage, "FirstImage", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="ImageFile1" required />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SecondImage, "SecondImage", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="ImageFile2" required />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ThirdImage, "ThirdImage", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="ImageFile3" required />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                        <!--
                        <div class="col-md-offset-2 col-md-10">
                            <a href="/properties/index" class="btn btn-info" title="Back to Properties">Back</a>

                        </div>
                        -->

                    </div>

                </div>

            }

        </div>
    </div>
</div>

<div class="container-fluid bg-2 text-center">
    <h3 class="margin">Welcome in HomeFair</h3>
    <p>HomeFair is a uniqe palce for buying property sale,rent and also for show.</p>

    <footer class="container-fluid bg-4 text-center">
        <p>Our team always with you...</p>
    </footer>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

